<form name="artcile" method="post" action="newArticle">

    <label for="titre">
        titre
        <input id="titre" name="titre">
    </label>
    <label for="description">
        description
        <input id="description" name="description">
    </label>
    <label for="core">
        core
        <textarea id="core" name="core"></textarea>
    </label>


    <button type="submit">ajouter</button>

</form>
